<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project/static/style.css">
    <title>Trang chủ</title>
</head>
<body>
    <h1>Danh sách bài viết</h1>
    <a href="/add">Thêm bài viết</a>
    <div class="articles">
        {% for article in articles %}
        <div class="article">
            {% if article.image %}
            <img src="{{ url_for('static', filename=article.image) }}" alt="Image">
            {% endif %}
            <h2>{{ article.title }}</h2>
            <p>{{ article.description }}</p>
            <p><strong>Ngày đăng:</strong> {{ article.publish_date }}</p>
            <a href="/article/{{ article.id }}">Xem nội dung</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
