<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project/static/style.css">
    <title>{{ article.title }}</title>
</head>
<body>
    <div class="article-container">
        <h1>{{ article.title }}</h1>
        <p><strong>Ngày đăng:</strong> {{ article.publish_date }}</p>
        {% if article.image %}
        <img src="{{ url_for('static', filename=article.image) }}" alt="Image">
        {% endif %}
        <p>{{ article.content }}</p>
        <a href="/">Quay lại trang chủ</a>
    </div>
</body>
</html>
